@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image:linear-gradient(to right, #31ACE0, #3174E0);
}

main{
    background-color: white;
    width:600px;
    padding: 10px;
    margin:auto;
    border-radius:10px;
    box-shadow: 5px 5px 15px #141b7abd;
}

h1{
    color:#5F31E0;
    text-align: center;
    text-shadow:1px 1px 2px #2c1669b7;
}

h2{
    color:#9831E0;
}

p{
    text-align: justify;
}